@page
@model Ecommerce.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Order Confirmed";
}
<h1>Order Confirmation</h1>
<p>Thank you for your order, @Model.name</p>
<p>Your order has been verified! Your ghost will arrive at the address provided within the next 5-10 business days.</p>
<p>If you are unsure if your ghost has arrived, look for moved objects, radio interferance, unidentified noises, or disturbing dreams.</p>
<p><i><b>Important Note:</b></i> Ghost Tokens claims no responsibility for the haunting effects of your newly-purchased ghost. Ghost Tokens cannot be 
    held morally or financially responsible for any ghost-related events including, but not limited to: Bleeding walls, hands reaching through walls, 
    exploding lights, spooky singing, marital strife, horrific changes to your reflection, possession, re-possession, plummeting property values, 
    difficulty sleeping, difficulty functioning, difficulty remaining sane, sudden homicidal tendencies, or death.
</p>
<a asp-page="/Index">Back to Home</a>