@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ghost Tokens</h1>
    <img class="img-fluid" src="~/images/home.jpg"  />
    <p>Ghosts are all around us, forlorn spirits of the dearly departed in our homes, businesses, schools and hospitals.</p>
    <p>While we might not ever fully be able to prove their existance, or understand their desires, thanks to NFTs you can now own your 
        very own ghost!</p>
    <p>We have minted a selection of particularly valuable types of ghosts and made them available for you to purchase! <a asp-page="Items/Index">Browse Our Selection</a> to find
        the ghost that's right for you!</p>
</div>
