@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ghost Tokens has a great deal of respect for the privacy of the living. While we are not capable of accepting fully anonymous payments 
    (ghosts do not believe in crypto) we take every precaution to ensure your personal information is safe from everyone other than the aforementioned 
    ghosts.
</p>
