html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #212529;
    color: #fff;
}

a {
    color: #b00600;
}

a:hover {
    color: #b00600;
}

.form-control {
    background-color: dimgray;
}